body{
    width: 100%;
    color: #000000;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
.wrapper{
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}
.main{
    flex: 1;
}
h1{
    color: #333333;
    text-align: center;
    display: block;
    margin: 0;
    padding: 1em 0;
    width: 100%;
    border-bottom: solid 1px #333333;
}
ul{
    text-decoration: none;
}
li{
    display: inline-block;
}
a{
    padding: .8em 1em;
    display: block;
    transition: 1s;
    color: #333333;
}
a:hover{
    transition: 1s;
    background-color: #333333;
    color: #ffffff;
}
footer{
    width: 100%;
    border-top: solid 1px #333333;
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
    color: #333333;
}